.App__quizzes {
    &--container {
        width: 80%;
        align-self: center;
        justify-self: normal;
        &--title {
            font-size: 2rem;
            color: #0a0a1f;
            margin-top: 3.4rem;
        }
        &--list {
            display: grid;
            grid-template: 1fr 1fr/ 1fr 1fr;
            gap: 1.2rem;
            margin-top: 1.5rem;
            list-style-type: none;
            &--item {
                padding-top: 100%;
                display: flex;
                align-items: center;
                text-align: center;
                background-color: darkgrey;
                position: relative;
                border-radius: 3px;
                &--quiztitle {
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    width: 80%;
                    font: 300 1.6rem Overpass;
                    position: absolute;
                }
            }
        }
    }
}
