.App__container--list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 1.4vh;
  list-style-type: none;
  width: 80%;
  user-select: none;
  div {
    margin-top: 1.5rem;
  }
  input[type="button"]:focus {
    outline: none;
  }
  // @include resp(375) {
  //   width: 71%;
  // }
  align-items: center;
  max-width: 38.2rem;

  &--answer {
    width: 100%;
    display: flex;
    background-color: transparent;
    padding-top: 0.3rem;

    @keyframes opacityZero {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    &:nth-child(1) {
      animation-delay: 0.6s;
    }
    &:nth-child(2) {
      animation-delay: 0.4s;
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
    }

    align-items: center;
    height: 5rem;
    border: 1px solid #c1d2e1;
    border-radius: 8px;
    font: 400 1.8rem Overpass;
    color: #0a0a1f;
    padding-left: 2.8rem;
  }
  &--chevron {
    position: absolute;
    right: 8%;
    top: 1.5rem;
  }
}
.App__container--correct {
  width: 10rem;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  animation: opacityOne 0.3s ease-in forwards;
}

.slideInLeft {
  animation: slideInLeft 0.6s ease normal backwards;
}
.slideInRight {
  animation: slideInRight 0.6s ease normal backwards;
}
.slideOutLeft {
  animation: slideOutLeft 0.6s 0.6s ease normal forwards;
}

// .blur {
//   animation: blur 0.3s ease normal forwards;
// }

@keyframes opacityOne {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes blur {
  from {
    filter: blur(0);
  }
  to {
    filter: blur(1px);
  }
}

@keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-200%, 0, 0);
    visibility: visible;
  }
}

@keyframes slideInRight {
  from {
    transform: translate3d(200%, 0, 0);
    visibility: visible;
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}
