.App__listanswers {
  display: flex;
  width: 84%;

  top: 3vh;
  overflow: scroll auto;
  height: 3.5rem;
  align-items: center;
  margin-bottom: 2vh;
  position: absolute;
  &::-webkit-scrollbar {
    display: none;
  }
  &::-webkit-scrollbar-button {
  }
  li {
    &:first-child {
      margin: 0 0 0 2.5%;
    }
    &:not(:first-child) {
      margin-left: 0.7rem;
    }
    img {
      width: 1.6rem;
    }
  }

  list-style-type: none;
}

@keyframes tinyScale {
  0% {
    transform: scale(1);
  }
  50% {
    overflow: visible;
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
