.Category {
  &__textfield {
    margin-top: 3.6rem !important;
    border-radius: 5px;
    background-color: white;
  }
  &__container {
    width: 85%;
  }
  &__background-container {
    padding-bottom: 60px;
  }
}
