.Header {
  //   height: 9.6%;
  align-self: center;
  justify-content: space-between;
  width: 80%;
  min-height: 4rem;
  max-height: 5.4rem;
  height: 7.7vh;
  @include min-width(700px) {
    height: 9vh;
  }
  display: flex;
  align-items: center;
  &__title {
    cursor: pointer;
    font-size: 1.4rem;
    @include min-width(700px) {
      font-size: 1.5rem;
    }
    color: #f3f3fb;
    &:hover {
      border: solid rgba(255, 255, 255, 0.89); //
      padding-bottom: 3px;
      border-width: 0px 0px 1px 0px;
      transition: all 0.5s;
    }
    border-color: #5255ca;
  }
}
