*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: Overpass;
  line-height: calc(1.5em + (1.55 - 1.5) * ((100vw - 21em) / (35 - 21))); }
  @media (min-width: 670px) {
    html {
      font-size: 66%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: #f8faf7; }

.App {
  background: #5255ca;
  display: flex;
  flex-direction: column; }

.info {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.8rem; }

.App__header {
  align-self: center;
  justify-content: space-between;
  width: 80%;
  min-height: 4rem;
  max-height: 5.4rem;
  height: 7.7vh;
  display: flex;
  align-items: center; }
  @media (min-width: 700px) {
    .App__header {
      height: 9vh; } }
  .App__header--title {
    cursor: pointer;
    font-size: 1.4rem;
    color: #f3f3fb;
    border-color: #5255ca; }
    @media (min-width: 700px) {
      .App__header--title {
        font-size: 1.5rem; } }
    .App__header--title:hover {
      border: solid rgba(255, 255, 255, 0.89);
      padding-bottom: 3px;
      border-width: 0px 0px 1px 0px;
      transition: all 0.5s; }
  .App__header--menu {
    margin-right: 3.5rem; }

.App__playing {
  position: relative;
  background: #f8faf7;
  border-radius: 20px 20px 0 0;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center; }
  @media (min-width: 700px) {
    .App__playing {
      border-radius: 0; } }

.App__playing--list {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 2.9vh;
  width: 80%;
  user-select: none;
  align-items: center;
  max-width: 38.2rem; }
  .App__playing--list input[type='button']:focus {
    outline: none; }
  .App__playing--list--answer {
    width: 100%;
    display: flex;
    background-color: transparent;
    padding-top: 0.3rem;
    align-items: center;
    height: 5rem;
    border: 1px solid #c1d2e1;
    border-radius: 8px;
    font: 400 1.8rem Overpass;
    color: #0a0a1f;
    padding-left: 2.8rem; }
    .App__playing--list--answer:not(:last-child) {
      margin-bottom: 2vh; }

@keyframes opacityZero {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    .App__playing--list--answer:nth-child(1) {
      animation-delay: 1s; }
    .App__playing--list--answer:nth-child(2) {
      animation-delay: 0.8s; }
    .App__playing--list--answer:nth-child(3) {
      animation-delay: 0.6s; }
    .App__playing--list--answer:nth-child(4) {
      animation-delay: 0.4s; }
  .App__playing--list--chevron {
    position: absolute;
    right: 8%; }

.App__playing--correct {
  width: 10rem;
  height: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 99999;
  opacity: 0;
  animation: opacityOne 0.4s 0.2s ease-in forwards; }

.slideInLeft {
  animation: slideInLeft 0.6s ease normal backwards; }

.slideInRight {
  animation: slideInRight 0.6s ease normal backwards; }

.slideOutLeftQuestion {
  animation: slideOutLeft 0.6s 1.1s ease normal backwards; }

.slideInRightQuestion {
  animation: slideInRight 0.6s 1.1s ease normal backwards; }

.slideOutLeft {
  animation: slideOutLeft 0.6s ease normal forwards; }

@keyframes opacityOne {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes blur {
  from {
    filter: blur(0); }
  to {
    filter: blur(1px); } }

@keyframes slideInLeft {
  from {
    transform: translate3d(-200%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

@keyframes slideOutLeft {
  from {
    transform: translate3d(0, 0, 0); }
  to {
    transform: translate3d(-200%, 0, 0);
    visibility: visible; } }

@keyframes slideInRight {
  from {
    transform: translate3d(200%, 0, 0);
    visibility: visible; }
  to {
    transform: translate3d(0, 0, 0); } }

.App__listiconanswers {
  display: flex;
  width: 84%;
  top: 3vh;
  overflow: scroll auto;
  height: 3.5rem;
  align-items: center;
  margin-bottom: 2vh;
  position: absolute;
  list-style-type: none; }
  .App__listiconanswers::-webkit-scrollbar {
    display: none; }
  .App__listiconanswers li:first-child {
    margin: 0 0 0 2.5%; }
  .App__listiconanswers li:not(:first-child) {
    margin-left: 0.7rem; }
  .App__listiconanswers li img {
    width: 1.6rem; }

@keyframes tinyScale {
  0% {
    transform: scale(1); }
  50% {
    overflow: visible;
    transform: scale(1.2); }
  100% {
    transform: scale(1); } }

.App__playing--infocounter {
  position: absolute;
  top: 2.9rem;
  left: 4.4rem;
  font-size: 1.4rem;
  color: #b2b2cc;
  font-family: Roboto; }
  .App__playing--infocounter span {
    letter-spacing: 0.05em; }
  .App__playing--infocounter::after {
    content: '';
    display: block;
    width: 46%;
    margin-top: 0.5rem;
    height: 0.14rem;
    background-color: #d0d1eb;
    position: absolute;
    left: 0.2; }

.App__playing--question {
  width: 80%;
  font-size: clamp(100%, 3.2vh, 2.4rem);
  color: #0a0a1f;
  max-width: 38.2rem;
  line-height: calc(1.1em + 1vw); }
  .App__playing--question--bf {
    position: absolute;
    margin-left: -1.5rem;
    font-size: 2.5rem;
    color: #cccdef; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.App__presentation {
  color: white;
  width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative; }
  .App__presentation--title {
    font: 2.4rem Overpass; }
  .App__presentation--desc {
    margin: 0.7rem 0 0 0.2rem;
    font: 300 1.4rem Overpass;
    width: 90%; }

.App__form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-self: center; }
  .App__form .MuiInputBase-root {
    font: 1.6rem Overpass; }
  .App__form .MuiInputLabel-root {
    color: #9fa0d5; }
  .App__form label {
    font: 1.6rem Overpass; }
  .App__form .MuiOutlinedInput-root:hover {
    border-color: pink; }
  .App__form .MuiOutlinedInput-notchedOutline {
    border-color: #5255ca;
    border-width: 1px; }
  .App__form .MuiInputBase-input {
    height: 1.4rem; }
  .App__form .PrivateNotchedOutline-legendLabelled-3 {
    height: 11.2px; }
  .App__form .MuiInputBase-root {
    margin-top: 0.3rem; }
  .App__form--button {
    box-shadow: 3px 3px 2px rgba(136, 136, 136, 0.45);
    background-color: #5255ca;
    border-radius: 0.5rem;
    height: 4.9rem;
    width: 40%;
    color: white;
    border: 0;
    margin-top: 4.3vh;
    align-self: flex-end;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    cursor: pointer; }
    .App__form--button:active {
      box-shadow: inset 0px 6px 4px rgba(0, 0, 0, 0.13); }
  .App__form--loginerror {
    margin-bottom: 1.5rem;
    font: 1.5rem Roboto;
    color: red; }

.App__registerAdvice {
  font-size: 1.6rem;
  color: #0a0a1f;
  align-self: center;
  margin-top: 4.2rem; }

.App--menuicon {
  height: 1.1rem;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  margin-left: auto; }
  .App--menuicon div {
    transition: all 2s;
    width: 1.8rem;
    height: 0.2rem;
    background-color: white;
    border-radius: 0.9rem; }
    .App--menuicon div:not(:first-child) {
      margin-top: 0.3rem; }
    .App--menuicon div.clicked:nth-child(1) {
      transform: rotate(-45deg) translate(-4px, 3px); }
    .App--menuicon div.clicked:nth-child(2) {
      opacity: 0; }
    .App--menuicon div.clicked:nth-child(3) {
      transform: rotate(45deg) translate(-4px, -3px); }

.childrenAnimation {
  animation: children 0.7s alternate forwards; }

@keyframes children {
  from {
    opacity: 1;
    position: relative;
    top: 0rem; }
  to {
    position: relative;
    top: 1rem;
    opacity: 0; } }

.App__menu {
  width: 80%;
  align-self: center;
  position: absolute;
  top: 7rem; }
  .App__menu div {
    position: relative; }
    .App__menu div svg {
      font-size: 1.9rem;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 2rem;
      color: rgba(255, 255, 255, 0.72); }
    .App__menu div input {
      font: 1.8rem Overpass;
      color: white;
      width: 100%;
      border: 0;
      padding: 0 1.5rem 0 6rem;
      height: 5.4rem;
      background: #5c60e7;
      border-radius: 7px; }
      .App__menu div input::placeholder {
        color: rgba(243, 243, 243, 0.8);
        font: 1.8rem Overpass; }
  .App__menu ul {
    list-style-type: none; }
    .App__menu ul li {
      opacity: 0.9;
      cursor: pointer;
      letter-spacing: 0.02rem;
      border-radius: 7px;
      margin-top: 0.5rem;
      height: 5.3rem;
      display: flex;
      align-items: center;
      font: 1.8rem Overpass;
      color: #f3f3fb; }
      .App__menu ul li:hover {
        background: #0a0a1f;
        opacity: 1;
        transition: all 0.3s; }
      .App__menu ul li:first-child {
        margin-top: 2.5rem; }
      .App__menu ul li svg {
        font-size: 1.9rem;
        margin-left: 2rem;
        margin: 0 2.2rem 0 2rem; }

.App__notification {
  display: flex;
  flex-direction: column;
  background-color: red;
  width: 64.5%;
  max-width: 24.2rem;
  background: #f8faf7;
  border: 1px solid #8687b1;
  box-shadow: 0px 3px 2px rgba(82, 85, 202, 0.07), 0px 4px 4px rgba(82, 85, 202, 0.05);
  border-radius: 5px;
  height: 7.8rem;
  justify-content: center;
  position: fixed;
  bottom: 1.4rem;
  right: 2rem;
  animation: fadeInRight 1s ease forwards;
  min-width: 20.3rem; }

@keyframes fadeInRight {
  from {
    opacity: 0;
    right: -24.2rem; }
  to {
    opacity: 1;
    right: 2rem; } }
  .App__notification--text {
    margin-left: 3.2rem;
    margin-top: 0.2rem; }
    .App__notification--text:before {
      content: "";
      display: block;
      background: url("/error.svg") no-repeat right top;
      width: 1.3rem;
      height: 1.3rem;
      position: absolute;
      left: 1.2rem; }
    .App__notification--text--title {
      font: 600 1.4rem Overpass;
      color: #0a0a1f; }
    .App__notification--text--desc {
      margin-top: 0.3rem;
      width: 90%;
      font: 1.2rem Overpass;
      color: #4a4a76; }
  .App__notification:before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 0.2rem;
    background: #ff0000;
    top: -0.5px;
    border-radius: 5px 5px 0px 0px; }

.App__fetcherror {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center; }
  .App__fetcherror img {
    width: 20.3rem; }
  .App__fetcherror--message {
    margin-top: 2.5rem;
    font: 2rem/138% Overpass;
    text-align: center;
    font-family: Overpass;
    color: #7a7ba2; }

.App__fourhundred {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .App__fourhundred--illustration {
    width: 22rem;
    height: 18.7rem;
    font: 11.6rem Overpass;
    color: #cccdef;
    display: flex;
    align-items: center;
    user-select: none;
    pointer-events: none; }
    .App__fourhundred--illustration img {
      left: 50%;
      transform: translateX(-50%);
      position: absolute;
      filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.22)); }
  .App__fourhundred--message {
    margin-top: 2.8rem;
    font: 2rem Overpass;
    color: #7a7ba2; }
  .App__fourhundred--button {
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16), 0px 2px 2px rgba(0, 0, 0, 0.21);
    width: 20.3rem;
    height: 4.5rem;
    background: #5255ca;
    border-radius: 8px;
    color: white;
    margin-top: 2.1rem;
    border: 0;
    font: 2rem Overpass;
    cursor: pointer; }

.Quizzes__recommended, .Quizzes__sectiontwo, .Quizzes__sectionthree {
  margin-top: 2.4rem; }
  .Quizzes__recommended span, .Quizzes__sectiontwo span, .Quizzes__sectionthree span {
    font: 600 1.6rem Overpass; }

.Quizzes__searched, .Quizzes__search {
  margin-top: 3.2rem;
  position: relative; }

.Quizzes__container {
  width: 80%;
  align-self: center;
  justify-self: normal;
  height: 100%; }

.Quizzes__search {
  display: flex;
  align-items: center; }
  .Quizzes__search svg {
    font-size: 1.9rem;
    position: absolute;
    left: 2rem;
    color: rgba(22, 22, 69, 0.3); }
  .Quizzes__search input {
    font: 1.8rem Overpass;
    background: #0a0a1f;
    width: 100%;
    border: 0;
    padding: 0 4rem 0 5.5rem;
    height: 5rem;
    background: #e6e6ea;
    border-radius: 7px; }
    .Quizzes__search input::placeholder {
      font: 1.8rem Overpass;
      color: rgba(22, 22, 69, 0.3); }

.Quizzes__recommended div {
  position: relative;
  margin-top: 0.9rem;
  background-color: green;
  padding-top: 48.3%;
  min-height: 14.5rem;
  border-radius: 5px; }
  .Quizzes__recommended div span {
    position: absolute;
    left: 4.8%;
    bottom: 9.93%;
    font-family: Overpass;
    font-size: clamp(1.4rem, 4.8vw, 1.8rem);
    color: white;
    width: 87%; }

.Quizzes__sectiontwo div {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr;
  gap: 0.8rem;
  margin-top: 0.9rem; }
  .Quizzes__sectiontwo div button {
    position: relative;
    padding-top: 65%;
    background-color: darkgrey;
    border-radius: 5px;
    border: 0;
    cursor: pointer; }
    .Quizzes__sectiontwo div button span {
      position: absolute;
      left: 10%;
      bottom: 10%;
      font-weight: 600;
      font-family: Overpass;
      font-size: clamp(1.4rem, 4.2vw, 1.8rem);
      color: rgba(255, 255, 255, 0.88);
      text-align: left;
      width: 85%; }

.Quizzes__sectionthree div {
  display: grid;
  grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
  gap: 8px;
  margin-top: 0.9rem;
  margin-bottom: 5rem; }
  .Quizzes__sectionthree div button {
    position: relative;
    border: 0;
    background-color: red;
    border-radius: 5px;
    padding-top: 97%; }
    .Quizzes__sectionthree div button span {
      font-size: clamp(1.4rem, 4.2vw, 1.8rem);
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      bottom: 10%;
      color: white; }

.Show {
  background-color: grey;
  display: flex;
  flex-direction: column;
  flex: 1; }
  .Show__image {
    flex: 1 1 40%;
    background-color: red; }
  .Show div .Show__playarea {
    width: 80%; }
    .Show div .Show__playarea h1 {
      margin-top: 4.8rem;
      font: 700 3rem/120% Lato;
      font-family: Lato;
      color: #161645; }
      .Show div .Show__playarea h1::before {
        position: absolute;
        top: 3.2rem;
        display: block;
        content: "";
        width: 14%;
        height: 3px;
        background-color: #161645; }
    .Show div .Show__playarea p {
      margin: 1.6rem 0 0 0.2rem;
      font: 1.6rem/150% Lato;
      color: rgba(22, 22, 69, 0.63); }
    .Show div .Show__playarea button {
      width: 11.6rem;
      height: 5.3rem;
      margin-top: 2.4rem;
      border: 0;
      font: 2rem Lato;
      color: #f8faf7;
      letter-spacing: 0.03rem;
      background: #161645;
      box-shadow: 3px 3px 2px rgba(136, 136, 136, 0.25);
      border-radius: 5px; }
  .Show div .Quizzes__sectiontwo {
    width: 80%; }
