%section {
  margin-top: 2.8rem;
  span {
    font: 500 1.5rem Overpass;
  }
  button {
    &:hover {
      transition: transform 0.3s;
      transform: scale(1.01);
    }
    transition: transform 0.3s;
  }
}
%margin {
  margin-top: 3.2rem;
  position: relative;
}
.Quizzes {
  &__container {
    width: 80%;
    align-self: center;
    justify-self: normal;
    height: 100%;
  }
  &__searched {
    @extend %margin;
  }
  &__search {
    @extend %margin;
    display: flex;
    align-items: center;
    svg {
      font-size: 1.9rem;
      position: absolute;
      left: 2rem;
      color: rgba(22, 22, 69, 0.3);
    }
    input {
      &::placeholder {
        font: 1.8rem Overpass;
        color: rgba(22, 22, 69, 0.3);
      }

      font: 1.8rem Overpass;

      background: #0a0a1f;
      width: 100%;
      border: 0;
      padding: 0 4rem 0 5.5rem;
      height: 5rem;
      background: #e6e6ea;
      border-radius: 7px;
    }
  }

  &__recommended {
    @extend %section;
    height: 17.3rem;
    button {
      position: relative;
      width: 100%;
      border: 0;
      margin-top: 0.8rem;
      background-color: green;
      padding-top: 48.3%;
      min-height: 14.5rem;
      border-radius: 5px;
      display: block;
      span {
        position: absolute;
        left: 4.8%;
        bottom: 9.93%;
        font-family: Overpass;
        font-size: clamp(1.4rem, 4.8vw, 1.8rem);
        color: white;
        width: 87%;
        text-align: left;
      }
    }
  }
  &__sectiontwo {
    @extend %section;
    &--show {
      margin-bottom: 5.5rem;
    }
    div {
      display: grid;
      grid-template: 1fr 1fr/ 1fr 1fr;
      gap: 0.8rem;
      margin-top: 0.8rem;
      button {
        position: relative;
        padding-top: 65%;
        background-color: darkgrey;
        border-radius: 5px;
        border: 0;
        cursor: pointer;
        span {
          position: absolute;
          left: 10%;
          bottom: 10%;
          font-weight: 600;
          font-family: Overpass;
          font-size: clamp(1.4rem, 4.2vw, 1.8rem);
          color: rgba(255, 255, 255, 0.88);
          text-align: left;
          width: 85%;
        }
      }
    }
  }
  &__sectionthree {
    @extend %section;
    div {
      display: grid;
      grid-template: 1fr 1fr/ 1fr 1fr 1fr 1fr;
      gap: 9px;
      margin-top: 0.8rem;
      margin-bottom: 5rem;
      button {
        position: relative;
        border: 0;
        background-color: darkgrey;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        border-radius: 5px;
        padding-top: 97%;
        span {
          font-size: clamp(1.4rem, 4.2vw, 1.8rem);
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          bottom: 10%;
          color: white;
        }
      }
    }
  }
}
