.Presentation {
  color: white;
  width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  position: relative;
  max-width: 550px;
  @media (min-width: 550px) {
    margin-top: 14px;
  }
  padding: 30px 0;
  &__menu {
    position: absolute;
    top: 32px;
    right: 10px;
  }
  &__title {
    font: 2.4rem Overpass;
  }
  &__description {
    margin: 0.7rem 0 0 0.2rem;
    font: 300 1.4rem Overpass;
    width: 90%;
  }
}
