%button-quiz {
  background-color: #c4c4c4;
  border-radius: 5px;
  padding-top: 71.8%;
  position: relative;
  border: 0;
  text-align: left;
  span {
    position: absolute;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);
    font: 1.4rem Overpass;
    font-size: clamp(1.4rem, 4.2vw, 1.8rem);
    left: 10%;
    bottom: 10%;
    width: 80%;
    overflow: hidden;
    color: white;
  }
}

.User {
  width: 80%;
  max-width: 55rem;
  margin-bottom: 7rem;
  position: relative;
  &__profile {
    margin-top: 3.2rem;
    display: flex;
    flex-direction: column;
    &::after {
      content: '';
      display: block;
      width: 70%;
      height: 2px;
      background: #eeeeee;
      left: 50%;
      transform: translateX(-50%);
      position: relative;
      bottom: -35px;
    }
  }
  &__stats {
    margin-top: 3.2rem;
    display: flex;
    justify-content: center;
    width: 106%;
    max-width: 40rem;
    align-self: center;
    @media (min-width: 370px) {
      width: 100%;
    }
  }

  &__numbers {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    height: 8.4rem;
    &:not(:last-child) {
      &::after {
        content: '';
        margin: auto;
        position: absolute;
        width: 2px;
        background-color: #f1f1f1;
        left: 100%;
        top: 50%;
        transform: translateY(-50%);
        height: 2rem;
      }
    }
  }
  &__label {
    margin-top: 0.8rem;
    font: 1.8rem Overpass;
    color: #5a5a72;
  }
  &__description {
    font: 1.4rem Overpass;
    color: #80819c;
  }
  &__played {
    margin-top: 4.6rem;
  }
  &__title {
    font: 1.6rem Overpass;
    color: #0a0a1f;
    &--username {
      text-align: center;
    }
  }
  &__quizzes {
    margin-top: 0.8rem;
    display: grid;

    @media (min-width: 230px) {
      grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    }
    @media (min-width: 400px) {
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
    @media (min-width: 600px) {
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    gap: 0.9rem;
    &--created {
      @media (min-width: 380px) {
        gap: 5.2rem 0.9rem;
      }
      gap: 4.6rem 0.9rem;
    }
  }
  &__item,
  &__item-container {
    @extend %button-quiz;
  }
  &__created-quiz {
    height: 100%;
    top: 0;
    border-radius: 5px;
    position: absolute;
    text-align: left;
    width: 100%;
  }
  &__action-buttons {
    width: 100%;

    margin-top: 0.8rem;
    position: absolute;
    display: flex;
    justify-content: space-between;
    @media (min-width: 380px) {
      height: 3rem;
    }
    height: 2.5rem;
  }
  &__action-button {
    border-radius: 5px;
    width: 48%;
    height: inherit;
    color: white;
    &--edit {
      color: black;
      border: 1px solid black;
      background: transparent;
    }
    &--delete {
      background-color: #f92f2f;
    }
  }

  &__created {
    margin-top: 6.2rem;
  }
}
