.Question {
  width: 80%;
  font-size: clamp(100%, 3.2vh, 24px);
  color: #0a0a1f;
  max-width: 382px;
  line-height: calc(1.1em + 1vw);
  &__before {
    position: absolute;
    margin-left: -15px;
    font-size: 25px;
    color: #cccdef;
  }
  // &::before {
  //   display: block;
  //   content: "";
  //   width: 25%;
  //   height: 2px;
  //   background: #5255ca;
  //   position: relative;
  //   top: -18px;
  // }
  // &--quotes {
  //     font: 35px "Passion One";
  //     color: #cccdef;
  //     position: absolute;
  //     margin-top: -6px;
  //     &--one {
  //         margin-left: -25px;
  //     }
  //     &--two {
  //         margin-left: 7px;
  //     }
  // }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
