@mixin resp($breakpoint) {
  @if ($breakpoint == 375) {
    @media (min-width: 375px) {
      @content;
    }
  }
  @if ($breakpoint == 670) {
    @media (min-width: 670px) {
      @content;
    }
  }

  @if ($breakpoint == 700) {
    @media (min-width: 700px) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 0;
}

html {
  font-size: 62.5%;
  @include resp(670) {
    font-size: 66%;
  }
  box-sizing: border-box;
  // @include respond(200) {
  //   font-size: 62.5%;
  // }
  line-height: calc(1.5em + (1.55 - 1.5) * ((100vw - 21em) / (35 - 21)));
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background: rgb(248, 250, 247);
  font: 1.6rem Overpass;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
}
