.App__fourhundred {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--illustration {
        width: 22rem;
        height: 18.7rem;
        font: 11.6rem Overpass;
        color: #cccdef;
        display: flex;
        align-items: center;
        user-select: none;
        pointer-events: none;
        img {
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
            filter: drop-shadow(1px 4px 4px rgba(0, 0, 0, 0.22));
        }
    }
    &--message {
        margin-top: 2.8rem;
        font: 2rem Overpass;
        color: #7a7ba2;
    }
    &--button {
        box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.16), 0px 2px 2px rgba(0, 0, 0, 0.21);
        width: 20.3rem;
        height: 4.5rem;
        background: #5255ca;
        border-radius: 8px;
        color: white;
        margin-top: 2.1rem;
        border: 0;
        font: 2rem Overpass;
        cursor: pointer;
    }
}
