.Search-quizzes {
  font-family: Overpass;
  font-size: 18px;
  align-items: center;
  display: flex;
  position: relative;
  &__input {
    &::placeholder {
      color: rgba(243, 243, 243, 0.8);
    }
    color: white;
    width: 100%;
    border: 0;
    padding: 15px 15px 15px 60px;
    background: #5c60e7;
    border-radius: 7px;
  }
  &__icon {
    font-size: 19px;
    position: absolute;
    left: 20px;
    color: rgba(42, 42, 82, 0.582);
    &--menu {
      font-size: 17px;
      color: white;
    }
  }
}
