.Search-quizzes {
  font-family: Overpass;
  font-size: 1.8rem;
  align-items: center;
  display: flex;
  &__input {
    &::placeholder {
      color: rgba(243, 243, 243, 0.8);
    }
    color: white;
    width: 100%;
    border: 0;
    padding: 1.5rem 1.5rem 1.5rem 6rem;
    background: #5c60e7;
    border-radius: 7px;
  }
  &__icon {
    font-size: 1.9rem;
    position: absolute;
    left: 2rem;
    color: rgba(42, 42, 82, 0.582);
    &--menu {
      font-size: 1.7rem;
      color: white;
    }
  }
}
