.Fetch-error {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  flex: 1;
  justify-content: center;
  &__img {
    width: 20.3rem;
  }
  &__message {
    margin-top: 2.5rem;
    font: 2rem/138% Overpass;
    text-align: center;
    font-family: Overpass;
    color: #7a7ba2;
  }
  &__button {
    background: #5255ca;
    border-radius: 8px;
    height: 4.5rem;
    margin-top: 2.4rem;
    font-size: 20px;
    width: 100%;
    color: white;
    max-width: 250px;
  }
}
