@mixin resp($breakpoint) {
  @if ($breakpoint == 375) {
    @media (min-width: 375px) {
      @content;
    }
  }
  @if ($breakpoint == 670) {
    @media (min-width: 670px) {
      @content;
    }
  }

  @if ($breakpoint == 700) {
    @media (min-width: 700px) {
      @content;
    }
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  @include resp(670) {
    font-size: 66%;
  }

  box-sizing: border-box;
  // @include respond(200) {
  //   font-size: 62.5%;
  // }
  font-family: Overpass;
}

body {
  box-sizing: border-box;
}
