.Sign {
  &__background-container {
    margin-bottom: 0;
    border-radius: 20px 20px 0 0;
    width: 100vw;
    margin-top: 27px;
    min-height: 33rem;
  }
  &__call {
    margin-left: 0.5rem;
  }
  &__container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-self: center;

    .MuiInputBase-root {
      font: 1.6rem Overpass;
    }

    .MuiInputLabel-root {
      color: #9fa0d5;
    }
    label {
      font: 1.6rem Overpass;
    }
    .MuiOutlinedInput-root:hover {
      border-color: pink;
    }
    .MuiOutlinedInput-notchedOutline {
      border-color: #5255ca;
      border-width: 1px;
    }

    .MuiInputBase-input {
      height: 1.4rem;
    }

    .PrivateNotchedOutline-legendLabelled-3 {
      height: 11.2px;
    }

    .MuiInputBase-root {
      margin-top: 0.3rem;
    }
  }
  &__login-error {
    margin-bottom: 1.5rem;
    font: 1.5rem Roboto;
    color: red;
  }

  &__advice {
    font-size: 1.6rem;
    color: #0a0a1f;
    align-self: center;
    margin-top: 4.2rem;
  }
}
