.Create-quiz {
    width: 80%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    font-family: Overpass;
    &__container {
        position: relative;
        width: 100%;
        height: 16.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input-image {
        width: inherit;
        height: inherit;
        cursor: pointer;
        border: 1px dashed #7ca0c0;
        content: "play";
        color: transparent;
        &::-webkit-file-upload-button {
            visibility: hidden;
        }
    }
    &__add {
        margin-top: 0.6rem;
        display: flex;
        flex-direction: column;
        position: absolute;
        z-index: -1;
    }
    &__text {
        margin-top: 0.5rem;
        font: 1.6rem Overpass;
        color: rgba(125, 126, 159, 0.89);
    }
    &__title {
        margin: 3rem 0 0.8rem 0;
        &--questions {
            margin-bottom: -0.5rem;
        }
        font: 1.6rem Overpass;
        color: #0a0a1f;
    }

    &__quiz-creation {
        margin-top: 1.6rem;
        padding: 1.8rem 2.8rem 2.3rem 2.8rem;
        border: 1px solid rgba(193, 210, 225, 0.59);
        border-radius: 5px;
        position: relative;
    }
    &__quiz-legend {
        font: 1.3rem Overpass;
        padding: 0 0.5rem;
        color: #7e7f9e;
        position: relative;
    }
    &__close {
        position: absolute;
        top: -0.2rem;
        right: -0.8rem;
        border: 0;
        width: 2rem;
        height: 2rem;
        background: url("/x.svg") no-repeat;
        cursor: pointer;
    }
    &__create {
        width: 100%;
        height: 15.3rem;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(193, 210, 225, 0.3);
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.04);
        border-radius: 5px;
        margin-top: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__illustration {
        display: flex;
        flex-direction: column;
    }
    &__insert {
        margin-top: 0.7rem;
        font: 1.6rem Overpass;
        color: rgba(10, 10, 31, 0.84);
    }

    .MuiInputBase-root {
        font: 1.6rem Overpass;
    }
    // .MuiFormControl-root {
    //   &:not(:first-child) {
    //     margin-top: 4.3vh;
    //   }
    // }
    .MuiOutlinedInput-multiline {
        padding: 12.5px 14px;
    }
    .MuiInputLabel-root {
        color: #9fa0d5;
    }
    .PrivateNotchedOutline-root-1 {
        top: -8px;
    }
    .MuiInputLabel-formControl {
        top: -4px;
    }
    label {
        font: 1.6rem Overpass;
    }
    .MuiOutlinedInput-root:hover {
        border-color: pink;
    }
    .MuiOutlinedInput-notchedOutline {
        border-color: #5255ca;
        border-width: 1px;
    }
    .MuiInputBase-input {
        height: 1rem;
    }

    .PrivateNotchedOutline-legendLabelled-3 {
        height: 11.2px;
    }

    .MuiInputBase-root {
        margin-top: 0.3rem;
    }
}
